.configForm {
	input {
		&[type="text"] {
			width: 480px;
		}
		&[readonly] {
			background-color: @ci-grey6;
		}
	}
}

#permissions, #refreshToken {
	.checkbox {
		padding-left: 10px;
		label {
			font-size: @fontSize-small;
		}
	}
}

#create-payment {
	.form-group {
		margin: 15px 15px 15px 15px;
	}
	input {
		@media (min-width: @screen-xs-min) {
    		max-width: 768px!important;
    	}
  	}
}

.Footer {
	clear: both;
	height: 30px;
	padding-top: 20px;
	text-align: center;
}

